In [1]:
name1 = ['ali', "umer",'ehsan','nasir']
for name2 in name1:
    print(name2)

ali
umer
ehsan
nasir

In [3]:
for i in range(11)
print (i ,'pakistan zindabad')

SyntaxError: invalid syntax (<ipython-input-3-9385eff68222>, line 1)

In [5]:
for i  range(1,11,1):
    print (i)

SyntaxError: invalid syntax (<ipython-input-5-28eabe12f30f>, line 1)

In [6]:
for b in range(1,11,2):
   print(b)

1
3
5
7
9

In [12]:
for u in range (10,0,-1):
    print(u,end=" \t ") # escape character

10 	 9 	 8 	 7 	 6 	 5 	 4 	 3 	 2 	 1

In [14]:
print ("ali","asad","hamza",sep="*************")

ali*************asad*************hamza

In [15]:
print ("my name is name and my age is age")

my name is name and my age is age

In [20]:
name = "shahnawaz"
age = "24"
print ("my name is "+name+" and my age is "+age+")

SyntaxError: EOL while scanning string literal (<ipython-input-20-44c2000205f6>, line 3)

In [21]:
print ("my name is {}and my age is {}")

my name is {}and my age is {}

In [22]:
name = "nasir"
age = "24"
print myname is "+ name+ " and my age is + str(age)"

SyntaxError: EOL while scanning string literal (<ipython-input-22-b4a9571f9d7c>, line 3)

In [23]:
print ("my name is {name} and my age is {age}")

my name is {name} and my age is {age}

In [25]:
name = "shahnawaz"
age = "24"
print ("my name is "+name+" and my age is "+age)

my name is shahnawaz and my age is 24

In [26]:
print ("my name is {} and my age is {}" .format(name,age))

my name is shahnawaz and my age is 24

In [28]:
print (f"my name is {name} and my age is {age}")

my name is shahnawaz and my age is 24

In [87]:
for tablr)

SyntaxError: invalid syntax (<ipython-input-87-a03abc98914f>, line 1)

In [40]:
table =  int(input("enter a table number"))
for nums in range(1,20,3):
    print(f"{table}* {nums} = {table*nums}")

enter a table number2
2* 1 = 2
2* 4 = 8
2* 7 = 14
2* 10 = 20
2* 13 = 26
2* 16 = 32
2* 19 = 38

In [42]:
party =['noman ,shahnawaz, rizwaz,]

SyntaxError: EOL while scanning string literal (<ipython-input-42-91fd214fc7ec>, line 1)

In [61]:
friends = ['c','b','a','d','e']
for friend in friends:
    if friend != "c":
        print ("enjoy party")
        break
    else:
        print('bhago abba agaye')

bhago abba agaye
enjoy party

In [68]:
for a in range(10):
    for b in ["a",'b','c','v' ]:
      print (a,b)

0 a
0 b
0 c
0 v
1 a
1 b
1 c
1 v
2 a
2 b
2 c
2 v
3 a
3 b
3 c
3 v
4 a
4 b
4 c
4 v
5 a
5 b
5 c
5 v
6 a
6 b
6 c
6 v
7 a
7 b
7 c
7 v
8 a
8 b
8 c
8 v
9 a
9 b
9 c
9 v

# for a in range(3):
    for b in ["a",'b','c','v' ]:
      print (a,b)

In [86]:

for a in range(10):
    counter = 0
    for b in ['a','b','c','v' ]:
        counter +=1
        print(a,b)
        if counter==3:
            break

0 a
0 b
0 c
1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c
6 a
6 b
6 c
7 a
7 b
7 c
8 a
8 b
8 c
9 a
9 b
9 c

In [90]:
for table_number in range(2,11):
    
    for counter in range(1,11):
        print(f"{table_numbers})*(counter)= {table_numbers*counter}")

NameError: name 'table_numbers' is not defined